.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:llamadas, :index)
      %li=link_to pat(:new), url(:llamadas, :new)
      %li.active=link_to pat(:edit), url(:llamadas, :edit, :id => @llamada.id)
  .content
    %h2.title
      =pat(:edit)
      =mt(:llamada)
    .inner
      -form_for :llamada, url(:llamadas, :update, :id => @llamada.id), :method => :put, :class => :form do |f|
        =partial "llamadas/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")
