.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:authentications, :index)
      %li.active=link_to pat(:new), url(:authentications, :new)
  .content
    %h2.title
      =pat(:new)
      =mt(:authentication)
    .inner
      -form_for :authentication, url(:authentications, :create), :class => :form do |f|
        =partial "authentications/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")
