.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:plivoapps, :index)
      %li=link_to pat(:new), url(:plivoapps, :new)
      %li.active=link_to pat(:edit), url(:plivoapps, :edit, :id => @plivoapp.id)
  .content
    %h2.title
      =pat(:edit)
      =mt(:plivoapp)
    .inner
      -form_for :plivoapp, url(:plivoapps, :update, :id => @plivoapp.id), :method => :put, :class => :form do |f|
        =partial "plivoapps/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")
