.group
  =f.label :name
  =f.error_message_on :name
  =f.text_field :name, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :surname
  =f.error_message_on :surname
  =f.text_field :surname, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :nickname
  =f.error_message_on :nickname
  =f.text_field :nickname, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :caller_id
  =f.error_message_on :caller_id
  =f.text_field :caller_id, :class => :text_field
  %span.description Ex: 12672024611



.group
  =f.label :email
  =f.error_message_on :email
  =f.text_field :email, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :password
  =f.error_message_on :password
  =f.password_field :password, :class => :password_field
  %span.description Ex: a simple text

.group
  =f.label :password_confirmation
  =f.error_message_on :password_confirmation
  =f.password_field :password_confirmation, :class => :password_field
  %span.description Ex: a simple text


.group
  =f.label "Account Name"
  =f.text_field :plivo_uid, :class => :text_field

.group
  =f.label "AUTHid" 
  =f.text_field :plivo_authid, :class => :text_field

.group
  =f.label "TOKEN"
  =f.text_field :plivo_auth_token, :class => :text_field

.group
  =f.label :role
  =f.error_message_on :role
  =f.select :role, :options => access_control.roles
  %span.description Ex: a simple text



.group.navform.wat-cf
  =f.submit pat(:save), :class => "btn btn-primary"
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:accounts, :index)}';return false", :class => "btn"
